:root {
    --main-background: #1f68de;
}
html {
    height: 100dvh;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.title-text {
    letter-spacing: .25rem;
}

.footer-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.footer-text {
    margin: 0px;
    padding: 0px;
}

.source-link {
    height: 24px;
}

.link-icon:hover {
    fill: white;
}

.direction-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.direction-info > * {
    flex: 0 0 33%;
}

.change-axis-button {
    padding: 0px 1rem;
    border: 1px solid black;
    display: flex;
    max-width: 75px;
}
.moving-icon {
    background-color: black;
    width: fit-content;
    margin-right: auto;
}

.moving-icon.right {
    margin-left: auto;
    margin-right: 0px;
}


.direction-label:first-of-type {
    text-align: end;;
}

.direction-label:last-of-type {
    text-align: start;
}

.change-axis-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-axis-button {
    margin: 1rem;
    border: none;
    padding: .25rem;
}

.game-status > * {
    margin: .5rem;
}

.direction-info {
    transition: opacity .25s;
}
.hidden {
    opacity: 0%;
}